/*          MEDIA QUERIES for 600px              */
/* ≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈ */

@media only screen and (max-width: 600px) {
  html {
    font-size: 45%;
  }

  header .logo_text {
    display: flex;
    flex-direction: column;
    margin-top: 21px;
    padding-left: 45px;
  }

  header #headline {
    margin-top: 5vh;
  }

  header #headline h1 {
    width: 50%;
  }

  header #headline a {
    margin-top: 2vh;
  }

  main .pics_articles img {
    padding-block: 8vh 5vh;
  }

  main .every_idea {
    margin-bottom: 4vh;
  }

  main .every_idea p {
    width: 100ch;
  }

  main h5 {
    font-size: 2.8rem;
    padding-inline: 11vw 10vw;
    width: 100%;
    margin-bottom: 4vh;
  }

  /* -------------- */

  main .section_icon_text {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
  }

  .section_icon_text div {
    width: 50%;
  }

  .section_icon_text div img {
    width: 4vw;
  }

  .section_icon_text div article h4 {
    margin-top: -28px;
  }
  .ready h4 {
    margin-top: 2vh;
    text-align: center;
    font-size: 2.8rem;
  }

  .ready p {
    text-align: center;
    padding-top: 30px;
    font-size: 1.2rem;
    width: 60%;
    margin-bottom: 3vh;
    padding-right: 30px;
  }

  .single-step {
    margin: 4vh auto;
  }

  .step-text h5 {
    margin-bottom: 2vh;
  }
}
