/* ==============Generals===============================
Farben: #0b0c17 / #ff3571 / #dddddd /
            
            #3C30FF / #FFF / #000

___________________________________________________*/

@font-face {
  font-family: "roboto light";
  src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "roboto bolt";
  src: url("../fonts/Roboto-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  font-family: roboto bold, sans-serif;
}

p {
  font-family: roboto light, sans-serif;
}

/* =============== HEADER ========================== */

/* ≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈ Logo ≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈ */

header #logo {
  width: 3vw;
  margin: 20px;
  position: fixed;
  top: 0;
}

header .logo_text {
  display: flex;
  flex-direction: column;
  margin-top: 21px;
  padding-left: 75px;
}

header .logo_text h1 {
  font-size: 1.5rem;
}

header .logo_text h4 {
  font-size: 0.7rem;
  font-weight: 100;
}

/* ≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈ Hero Cover ≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈ */

header .hero_pic {
  width: 52vw;
  position: absolute;
  top: 0;
  right: 0;
}

header .hero_pic_people {
  width: 52vw;
  position: absolute;
}

/* ≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈ Headline ≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈ */

header #headline {
  margin-top: 20vh;
  margin-left: 10vw;
}

header #headline h1 {
  font-size: 4rem;
  width: 50%;
}

header #headline p {
  width: 50ch;
  margin-top: 1.5rem;
  font-size: 1.3 rem;
  line-height: 15px;
  padding-left: 0;
}

header #headline .rocket {
  width: 6%;
}

header #headline a {
  display: block;
  color: #ff3571;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10vh;
}

/* =============== MAIN ========================== */

main .pics_articles img {
  width: 100%;
  padding: 15vh 0 20vh 0;
}

main .every_idea {
  display: flex;
  margin-bottom: 10vh;
  padding-inline: 10%;
}

main .every_idea .idea {
  width: 40%;
}

main .every_idea .idea h2 {
  font-size: 2.5rem;
  width: 15ch;
}

main .every_idea .idea h2 img {
  width: 12%;
}

main .every_idea p {
  width: 65ch;
  line-height: 2;
}

main h5 {
  font-size: 3rem;
  padding-left: 11vw;
  width: 58%;
  margin-bottom: 10vh;
}

/* =============== Section ========================== */

main .section_icon_text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.section_icon_text div {
  width: 37%;
  margin-bottom: 10px;
}

.section_icon_text div img {
  width: 2vw;
}

.section_icon_text div article h4 {
  margin-top: -25px;
}

.section_icon_text div article h4,
p {
  padding-left: 50px;
  padding-bottom: 5px;
  line-height: 2;
  width: 78%;
}

/* =============== Article ========================== */

.ready h4 {
  margin-top: 10vh;
  text-align: center;
  font-size: 2.8rem;
}

.ready p {
  text-align: center;
  padding-top: 30px;
  margin: 0 auto;
  font-size: 1.2rem;
  width: 50%;
  margin-bottom: 15vh;
  line-height: 1.5;
}

/* =============== Section Steps ========================== */

.single-step {
  display: flex;
  justify-content: center;
  margin: 8vh auto;
}

.single-step img {
  width: 35%;
  margin-left: 7rem;
}

.step-text {
  margin-left: 7rem;
}

.step-text h5 {
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.15);
  margin-bottom: 4vh;
}

.step-text img {
  width: 7%;
  margin-left: 0;
}

.step-text h3 {
  padding: 10px 0;
}

.step-text p {
  width: 77.2%;
  line-height: 1.8rem;
  padding-left: 0;
}

.single-step:nth-of-type(2) .step-text,
.single-step:nth-of-type(4) .step-text {
  margin-inline: 7rem 0;
}

.single-step:nth-of-type(2) img,
.single-step:nth-of-type(4) img {
  margin-inline: 0 7rem;
}

.step-text:nth-of-type(2) p,
.step-text:nth-of-type(4) p {
  width: 78%;
}

/* =============== Footer ========================== */

#footer_main h1 {
  margin-top: 10vh;
  text-align: center;
  font-size: 3rem;
}
#footer_main p {
  font-size: 1.3rem;
  text-align: center;
  margin: 3vh auto;
}

#footer_main form {
  text-align: center;
}

#footer_main form input[type="email"] {
  padding: 10px 100px;
  border-style: none;
  box-shadow: 3px 3px 20px #e3e3e3;
  border-radius: 5px;
}

#footer_main form input[type="submit"] {
  display: block;
  margin: 3rem auto;
  background-color: #ff3571;
  color: #fff;
  border-style: none;
  padding: 10px 30px;
  border-radius: 5px;
  margin-bottom: 6vh;
}

#footer_main form input[type="submit"]:hover {
  background-color: #3c30ff;
}

#footer_main form input[type="submit"]


/* ============================================ */

/* ≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈ */

.heart {
  margin-left: 9vw;
  margin-bottom: 3vh;
  font-size: 1.3rem;
}

.heart img {
  width: 2%;
  margin-left: 5px;
}
